{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{titolo}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="py-4">
        <form action="" method="POST" class="w-75 border border-1 py-2 px-3">
            <h1>{{titolo}}</h1>
            <div class="card shadow-sm mb-4">
                <div class="card-body ">
                    {{form|crispy}}
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary" type="submit">Salva</button>
            </div>
        </form>
    </div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}