{% extends "layouts/base-auth.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{titolo}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>

    <!-- Section -->
        <section class="align-items-center mt-4 mb-4">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background="">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">

                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <br>
                                <p>
                                    <a href="{% url 'index' %}" class="d-flex align-items-center justify-content-center">
                                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        Back to index
                                    </a>
                                </p>
                            </div>
                            <h4 class="mb-0 text-center">
                                {{titolo}}
                            </h4>
                            <br />
                            <form method="post" class="mt-4" autocomplete=off enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.user|crispy }}
                                <h4 class="mb-0 text-center">
                                    Stabilimento
                                </h4>
                                {{form.profile|crispy }}
                                <div class="mt-3">
                                    <button class="btn btn-primary" type="submit" value="submit">Salva</button>
                                </div>
                            </form>


                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    <a href="{% url 'login' %}">Sei già registrato - Login </a>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}


