{% extends "layouts/base-auth.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{titolo}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <section class="mt-5 mt-lg-0 bg-soft d-flex align-items-center py-4">
            <div class="container">
                <p class="text-center">
                    <a href="{% url 'index' %}" class="d-flex align-items-center justify-content-center">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                        Back to index
                    </a>
                </p>
                <div class="row justify-content-center form-bg-image">
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    {{titolo}}
                                </h1>
                                <br />
                                <p>
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% endif %}
                                </p>
                            </div>
                            <form method="post" action="" class="mt-4" autocomplete=off enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}

                                <div class="mt-3">
                                    <button class="btn btn-primary" type="submit">Salva</button>
                                </div>
                            </form>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
