{% extends "layouts/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{{titolo}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

    <div class="py-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="h2 mb-1">{{titolo}}</h3>
            </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div>
                
            </div>
           <!-- filtri-->
           <button class="btn btn-gray-800 d-inline-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-filter"></i>                
            <svg class="icon icon-xs ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
           
               <form method="get" action="">
                <div class="card-body">
                    {{ filter.form|crispy }}
                    <div class="text-center">
                        <input class="btn btn-sm  btn-secondary" type="submit" value="Filtra" />
                    </div>
                </div>     
            </form>
            
        </div>
        <!--  FIne filtri--> 
        </div>
    </div>

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive py-4">
                <table id="mytable" class="table table-flush table-striped rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0 rounded-start">#</th>
                            <th class="border-0 ">Operatore</th>
                            <th class="border-0 ">Turno</th>
                            <th class="border-0">Mezzo</th>
                            <th class="border-0">Esiti</th>
                            <th class="border-0">Anom.</th>
                            <th class="border-0">Creato</th>
                            <th class="border-0">Modificato</th>
                            <th class="border-0 rounded-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for object in object_list %}
                            <tr>
                                <td>
                                    <div class="small fw-bold">{{object.id}}</div>
                                </td>
                                <td class="fw-bold align-items-center">
                                    <img class="avatar rounded-circle" src="{{object.id_checklist.operatore.avatar.url}}" height=35px, width=35px>
                                    {{object.id_checklist}}
                                </td>
                                <td>
                                    <div class="small fw-bold">{{object.id_checklist.turno}}</div>
                                </td>
                                <td>
                                    <div class="small fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="{{object.id_mezzo}}">{{object.id_mezzo.interno}}</div>
                                </td>
                                <td class="border-0">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-xl-2 px-0">
                                            <div class="small font-weight-bold">{{object.percentuale_ok}}%</div>
                                        </div>
                                        <div class="col-12 col-xl-10 px-0 px-xl-1">
                                            <div class="progress progress-lg mb-0">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{object.get_ok}}" aria-valuemin="0" aria-valuemax="{{object.get_num_controlli}}" style="width: {{object.percentuale_ok}}%;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-xl-2 px-0">
                                            <div class="small font-weight-bold">{{object.percentuale_ko}}%</div>
                                        </div>
                                        <div class="col-12 col-xl-10 px-0 px-xl-1">
                                            <div class="progress progress-lg mb-0">
                                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{object.get_ko}}" aria-valuemin="0" aria-valuemax="{{object.get_num_controlli}}" style="width: {{object.percentuale_ko}}%;"></div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    {% if not  object.anomalie %}
                                        ---
                                    {% else %}
                                        <div class="small fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="{{object.anomalie}}">{{object.anomalie|truncatechars:20}}</div>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="small fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="{{object.creato}}">{{object.creato|naturalday}}</div>
                                </td>
                                <td>
                                    <div class="small fw-bold"  data-bs-toggle="tooltip" data-bs-placement="top" title="{{object.aggiornato}}">{{object.aggiornato|naturalday}}</div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-sm">
                                                <span class="fas fa-ellipsis-h icon-dark"></span>
                                            </span>
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu py-0">
                                            <a class="dropdown-item rounded-top" href="{{object.get_absolute_url}}"><span class="fas fa-eye me-2"></span>Dettagli</a>
                                            <a class="dropdown-item" href="{{object.get_update_url}}"><span class="fas fa-edit me-2"></span>Modifica</a>
                                            <a class="dropdown-item text-danger rounded-bottom" href="{{object.get_delete_url}}"><span class="fas fa-trash-alt me-2"></span>Cancella</a>
                                        </div>
                                    </div>
                                </td>
                        {% empty %}
                            <td colspan="9" class='bg-warning'>
                                Nessun dato da Mostrare
                            </td>
                            </tr>

                        <!-- End of Item -->
                        {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


 <!-- Specific Page JS goes HERE  -->

{% block extra_js %}
    {{ block.super }}
{% endblock extra_js %}