{% extends "layouts/base-fullscreen.html" %}

{% block title %} Page Lock {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}
    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="{% static 'assets/img/illustrations/signin.svg' %}">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <div class="avatar avatar-lg mx-auto mb-3"><img class="rounded-circle" alt="Image accesso negato" src="{% static 'assets/img/accesso-negato.jpeg' %}"></div>
                                <h1 class="h3">Accesso Negato</h1>
                                <p class="text-gray">Torna al login</p>
                            </div>
                                <div class="d-grid mt-5">
                                    {% comment %} <button type="submit" class="btn btn-gray-800">Unlock</button> {% endcomment %}
                                    <a href="{% url 'login' %}" class="btn btn-gray-800">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
