{% extends "layouts/base.html" %}

{% load i18n %}

{% block title %}{{titolo}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


    <div class="py-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="h2 mb-1">{{titolo}}</h3>
            </div>
        </div>
        {% comment %} <!-- report -->
        <div class="d-flex justify-content-end mt-4 mb-4 ">
            <button class="btn btn-gray-800 d-inline-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                Reports
                <svg class="icon icon-xs ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    Archivio
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                    Customers
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                    Orders
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11 4a1 1 0 10-2 0v4a1 1 0 102 0V7zm-3 1a1 1 0 10-2 0v3a1 1 0 102 0V8zM8 9a1 1 0 00-2 0v2a1 1 0 102 0V9z" clip-rule="evenodd"></path></svg>
                    Console
                </a>
                <div role="separator" class="dropdown-divider my-1"></div>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'checklist:checklist_list' %}">
                    <svg class="dropdown-icon text-gray-800 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                    All Reports
                </a>
            </div>
        </div> {% endcomment %}
        <!-- fine report-->
    </div>

        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="table-responsive py-4">
                    <table id="mytable" class="table table-flush  rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0 rounded-start">Operatore</th>
                                <th class="border-0">Turno</th>
                                <th class="border-0">Mezzo</th>
                                <th class="border-0">Sett.</th>
                                <th class="border-0">Creato</th>
                                <th class="border-0">Modificato</th>
                                <th class="border-0 rounded-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- Item -->
                            {% for checklist in checklists %}
                                <tr>
                                    <td class="fw-bold align-items-center">
                                        <img class="avatar rounded-circle" src="{{checklist.operatore.avatar_thumbnail.url}}" height=35px, width=35px>
                                        {{checklist.operatore}}
                                    </td>
                                    <td>
                                        {{checklist.turno}}
                                    </td>
                                    <td>
                                        {{checklist.controlli_set.get.id_mezzo.interno}}
                                    </td>
                                    <td class="text-center">
                                        {{checklist.creato|date:'W'}}
                                    </td>

                                    <td>
                                        {{checklist.creato}}
                                    </td>
                                    <td>
                                        <div class="small fw-bold">{{checklist.aggiornato}}</div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon icon-sm">
                                                    <span class="fas fa-ellipsis-h icon-dark"></span>
                                                </span>
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu py-0">
                                                <a class="dropdown-item rounded-top" href="{{checklist.get_absolute_url}}"><span class="fas fa-eye me-2"></span>Dettagli</a>
                                                <a class="dropdown-item" href="{{checklist.get_update_url}}"><span class="fas fa-edit me-2"></span>Modifica</a>
                                                <a class="dropdown-item text-danger rounded-bottom" href="{{checklist.get_delete_url}}"><span class="fas fa-trash-alt me-2"></span>Cancella</a>
                                            </div>
                                        </div>
                                    </td>
                            {% empty %}
                                <td colspan="9" class='bg-warning'>
                                    Nessun dato da Mostrare
                                </td>
                                </tr>

                        <!-- End of Item -->
                            {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
{% endblock %}

 <!-- Specific Page JS goes HERE  -->

{% block javascripts %}

{% endblock javascripts %}