{% extends "layouts/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{titolo}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

    <div class="py-4">

        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="h2 mb-1">{{titolo}}</h3>
            </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div>
                <a href="{% url 'checklist:checklist_create' %}" class="btn btn-secondary d-inline-flex align-items-center me-2">
                    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                    {{titolo}}
                </a>
            </div>

           <!-- filtri-->
          
            <button class="btn btn-gray-800 d-inline-flex align-items-center px-4 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-filter"></i>    
                Filtri            
                <svg class="icon icon-xs ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
               
                   <form method="get" action="">
                    <div class="card-body">
                        {{ filter.form|crispy }}
                        <div class="text-center">
                            <input class="btn btn-sm  btn-secondary" type="submit" value="Filtra" />
                        </div>
                    </div>     
                </form>
                
            </div>
            <!--  FIne filtri--> 
        </div>
    </div>

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive py-4">
                <table id="mytable" class="table table-flush table-striped rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0 rounded-start">#</th>
                            <th class="border-0 ">Operatore</th>
                            <th class="border-0">Turno</th>
                            <th class="border-0">Mezzo</th>
                            <th class="border-0">Sett.</th>
                            <th class="border-0">Creato</th>
                            <th class="border-0">Modificato</th>
                            <th class="border-0 rounded-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for checklist in checklists %}
                            <tr>
                                <td class="fw-bold align-items-center">
                                    {{checklist.id}}
                                </td>
                                <td class="fw-bold align-items-center">
                                    <img class="avatar rounded-circle" src="{{checklist.operatore.avatar_thumbnail.url}}" height=35px, width=35px>
                                    {{checklist.operatore}}
                                </td>
                                <td>
                                    <div class="small fw-bold">{{checklist.turno}}</div>
                                </td>
                                <td>
                                    {% if checklist.controlli_set.get.anomalie%}
                                        <div class="small fw-bold text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{checklist.controlli_set.get.id_mezzo}}">{{checklist.controlli_set.get.id_mezzo.interno}}</div>
                                    {% else %}
                                        <div class="small fw-bold text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="{{checklist.controlli_set.get.id_mezzo}}">{{checklist.controlli_set.get.id_mezzo.interno}}</div>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <div class="small fw-bold">{{checklist.creato|date:'W'}}</div>
                                </td>

                                <td>
                                    <div class="small fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="{{checklist.creato}}">{{checklist.creato|naturalday}}</div>
                                </td>
                                <td>
                                    <div class="small fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="{{checklist.aggiornato}}">{{checklist.aggiornato|naturalday}}</div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-sm">
                                                <span class="fas fa-ellipsis-h icon-dark"></span>
                                            </span>
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu py-0">
                                            <a class="dropdown-item rounded-top" href="{{checklist.get_absolute_url}}"><span class="fas fa-eye me-2"></span>Dettagli</a>
                                            <a class="dropdown-item" href="{{checklist.get_update_url}}"><span class="fas fa-edit me-2"></span>Modifica</a>
                                            <a class="dropdown-item text-danger rounded-bottom" href="{{checklist.get_delete_url}}"><span class="fas fa-trash-alt me-2"></span>Cancella</a>
                                        </div>
                                    </div>
                                </td>
                        {% empty %}
                            <td colspan="9" class='bg-warning'>
                                Nessun dato da Mostrare
                            </td>
                            </tr>

                        <!-- End of Item -->
                        {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


 <!-- Specific Page JS goes HERE  -->

{% block extra_js %}
    {{ block.super }}
{% endblock extra_js %}