{% extends "layouts/base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{{titolo}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
    <div class='py-4'>
        <form action="" method="POST" class="w-75 border border-1 py-2 px-3" enctype="multipart/form-data">
            <h1>{{titolo}}</h1>
            {% csrf_token %}
            {% comment %} {% crispy form %} {% endcomment %}
            {{ form|crispy }}
            <div class="mt-3">
                <button class="btn btn-primary" type="submit">Salva</button>
                <a href="{% url 'checklist:controlli_list' %}" class="btn btn-secondary">Esci</a>
            </div>
        </form>
    </div>
{% endblock %}